# Copyright 2025 NXP
# SPDX-License-Identifier: Apache-2.0

config SOC_SERIES_S32G2
	bool
	select SOC_FAMILY_NXP_S32

config SOC_SERIES
	default "s32g2" if SOC_SERIES_S32G2

config SOC_S32G274
	bool
	select SOC_SERIES_S32G2

config SOC_S32G274_M7
	bool
	select SOC_S32G274

config SOC
	default "s32g274" if SOC_S32G274

config SOC_PART_NUMBER_S32G274ARDB
	bool

config SOC_PART_NUMBER
	default "S32G274ARDB" if SOC_PART_NUMBER_S32G274ARDB
